//Row with text and icons in the right side
.icon_box_basic {
    .image_wrapper,
    .desc {
        text-align: left;
    }
}

.membership {
    padding-top: 10%;
    h2,
    p,
    .desc {
        color: #fff;
    }
}
