@import "../abstracts/mixins";
.board_directors {
    @include links;
    a {
        font-weight: 700 !important;
    }
    margin-bottom: 14px !important;
    .visual__contact h3 {
        margin-bottom: 23px !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .board_directors {
        h3 {
            line-height: 30px !important;
        }
        h4 {
            font-size: 16px;
            height: 28px !important;
        }
        @include links;
        a {
            font-size: 14px !important;
        }
    }
}

@media screen and (min-width: 760px) and (max-width: 1025px) {
    .board_directors .visual__contact h3 {
        margin-bottom: 8px !important;
    }
    
    .visual__contact h4 {
        margin-bottom: 6px !important;
    }
}
