@use "../abstracts" as a;
@import "../abstracts/mixins";

.page,
.single,
.error404 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    label {
        font-family: a.$roboto;
    }

    p,
    .check {
        color: a.$dark;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 28px;
        font-weight: 400;
        @include mQ_max($movil) {
            font-size: 14px !important;
        }
    }
    h1 {
        font-size: 3rem;
        font-weight: 700 !important;
    }

    h2 {
        font-size: 2.25rem;
        font-weight: 700;
        color: a.$moss-green;
        @include mQ_max($small) {
            font-size: 30px !important;
            line-height: 36px !important;
        }
        @include mQ_max($movil) {
            font-size: 1.875rem !important;
            margin-bottom: 32px !important;
        }
    }
    h3 {
        font-size: 1.5rem;
        letter-spacing: 0px;
        line-height: 15px;
        color: a.$dark;
    }
    h4 {
        font-size: 1.25rem;
        letter-spacing: 0px;
        line-height: 15px;
        color: a.$moss-green;
        font-weight: 700;
    }
}
