@use "../abstracts/" as a;

.visual__contact {
    text-align: center;
    h3,
    h4 {
        margin-bottom: 18px !important;
    }
    h4 {
        padding-bottom: 10px;
    }

    img {
        height: 204px;
        width: 208px;
        border-radius: 100px;
    }

    color: a.$dark;
    strong {
        font-size: 1.125rem;
    }
    a {
        -webkit-text-decoration: revert-layer;
        text-decoration: revert-layer;
        color: a.$dark;
    }
}
